<form [formGroup]="changePasswordForm">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input formControlName="oldPassword" type="password" class="form-control" name="oldPassword" id="oldPassword">
        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger" role="alert">
            <div *ngIf="oldPassword.errors.required">
                Old Password is required.
            </div>
            <div *ngIf="oldPassword.errors.invalidOldPassword">
                Old Password is invalid.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input formControlName="newPassword" type="password" class="form-control" name="newPassword" id="newPassword">
        <div *ngIf="newPassword.touched && newPassword.invalid" class="alert alert-danger" role="alert">
            <div *ngIf="newPassword.errors.required">
                New Password is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" class="form-control" name="confirmPassword" id="confirmPassword">
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert alert-danger" role="alert">
            <div *ngIf="confirmPassword.errors.required">
                Confirm Password is required.
            </div>
        </div>
        <div *ngIf="confirmPassword.valid && changePasswordForm.invalid && changePasswordForm.errors?.passwordsShouldMatch" class="alert alert-danger" role="alert">
            Passwords do not match.
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
