<label for="new-course">New Course:</label>
<input type="text" id="new-course" name="new-course" (keyup.enter)="add(course)" #course>
<ul>
    <li *ngFor="let course of courses$ | async">
        {{ course.name }}
        <button (click)="update(course)">Update</button>
        <button (click)="delete(course)">Delete</button>
    </li>
</ul>
<p>
    {{ course$ | async | json }}
</p>
<p>
    {{ author$ | async | json }}
</p>
<ul *ngIf="author$ | async as author">
    <li>{{ author.name }}</li>
    <li>{{ author.isPremium }}</li>
    <li>{{ author.students }}</li>
</ul>
