<div *ngFor="let follower of followers" class="media">
    <div class="media-left">
        <a class="d-flex" href="#">
            <img class="avatar media-object" src="{{ follower.avatar_url }}" alt="Avatar">
        </a>
    </div>
    <div class="media-body">
        <h5 class="media-heading">
            <a [routerLink]="['/followers', follower.login, follower.id]">{{ follower.login }}</a>
        </h5>
        <a href="{{ follower.html_url }}">{{ follower.html_url }}</a>
    </div>
</div>
